<div class="ficha">
    <div class="row">
        <div class="col-12 col-md-6 photo-initial">
            <img src="../../../../assets/ficha/{{auto.photo}}" alt="">
        </div>
        <div class="col-12 col-md-6">
            <p>Hilux DX/SR</p>
            <h2>Preparada para cualquier desafío </h2>
            <p class="initial-description m-0"></p>
        </div>
    </div>

    <!-- <ui-carousel slides="ctrl.autoplay.slides" slides-to-show="3" slides-to-scroll="1" autoplay="true" autoplay-speed="2000" dots="true">
        <carousel-item>
          <h3>{{ item + 1 }}</h3>
        </carousel-item>
      </ui-carousel> -->

     <!-- <div *ngFor="let high of auto.model_highlights" class="row description">
        <div class="col-12 col-md-6">
            <img src="../../../../assets/ficha/{{ high.image }}" alt="">
        </div>
        <div class="col-12 col-md-6">
            <h2 class="high-title">{{ high.title }}</h2>
            <p class="high-description m-0">{{ high.content }}</p>
        </div>
    </div>  -->


</div>